# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#Use OS Module to load CSV file
filepath = os.path.join("output_data", "Cities.csv")
city_data_df = pd.read_csv(filepath)
city_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Wollongong,-34.43,150.88,61.00,70,5,5.01,AU,1592987484
1,Bredasdorp,-34.53,20.04,53.60,93,0,1.10,ZA,1592987346
2,Kavieng,-2.57,150.80,83.97,77,1,13.06,PG,1592987379
3,Caravelas,-17.71,-39.25,64.78,76,41,2.33,BR,1592987352
4,Atuona,-9.80,-139.03,79.21,76,13,20.09,PF,1592987371
...,...,...,...,...,...,...,...,...,...
582,Mogadishu,2.04,45.34,84.20,66,75,12.75,SO,1592987599
583,Mahibadhoo,3.78,72.97,83.98,78,18,11.14,MV,1592987599
584,Wamba,8.93,8.60,83.26,67,50,3.71,NG,1592987600
585,Jinchang,38.50,102.17,86.16,13,20,15.73,CN,1592987385
586,Leavenworth,39.23,-95.03,63.00,89,0,3.11,US,1592987430

In [6]:
city_data_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,587.000000,587.000000,587.000000,587.000000,587.000000,587.000000,5.870000e+02
mean,18.848501,19.395707,70.630153,67.294719,48.470187,7.713731,1.592987e+09
std,32.821140,88.341058,15.126493,23.715896,38.887784,4.906292,9.645928e+01
min,-54.800000,-179.170000,29.440000,3.000000,0.000000,0.310000,1.592987e+09
25%,-7.840000,-57.650000,60.910000,53.000000,4.000000,3.710000,1.592987e+09
50%,21.100000,22.200000,72.720000,73.000000,42.000000,6.930000,1.592988e+09
75%,45.690000,100.060000,80.700000,86.000000,90.000000,10.545000,1.592988e+09
max,78.220000,179.320000,112.150000,100.000000,100.000000,27.690000,1.592988e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
# Store latitude and longitude in locations
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

# Plot Heatmap
fig = gmaps.Map()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

# Add layer
fig.add_layer(heat_layer)

fig

Map(configuration={'api_key': 'AIzaSyDvfnTCo-hSF587kiCVsBWHVxuRhPlnvGY'}, data_bounds=[(-46.73784185340356, -1…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [34]:
# Narrow down the DataFrame to find my ideal weather conditions.

# A max temperature lower than 90 degrees but higher than 70.
ideal_df = city_data_df.loc[city_data_df['Max Temp'] <= 90, :]
ideal_df = ideal_df.loc[ideal_df['Max Temp'] >= 80, :]
# Wind speed less than 15 mph.
ideal_df = ideal_df.loc[ideal_df['Wind Speed'] < 15, :]
# Cloudiness less than 20.
ideal_df = ideal_df.loc[ideal_df['Cloudiness'] < 20, :]
# Humuidity less than 40.
ideal_df = ideal_df.loc[ideal_df['Humidity'] < 40, :]

In [35]:
# Drop any rows that don't contain all four conditions. You want to be sure the weather is ideal.
ideal_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
66,Tunceli,39.11,39.55,86.00,20,0,4.70,TR,1592987501
72,Alvand,36.32,49.17,83.25,18,0,14.52,IR,1592987501
76,Khatanga,71.97,102.50,80.44,32,0,6.06,RU,1592987356
119,Kahama,-3.83,32.60,81.46,37,0,10.11,TZ,1592987510
160,Constantine,36.37,6.61,80.60,34,0,5.82,DZ,1592987518
177,Khandyga,62.67,135.60,80.82,34,0,2.89,RU,1592987521
228,Saint George,37.10,-113.58,82.40,14,1,3.36,US,1592987191
241,Gračac,44.30,15.85,81.00,34,0,3.36,HR,1592987535
264,Faya,18.39,42.45,82.40,11,13,13.87,SA,1592987370
389,Camabatela,-8.19,15.38,80.31,23,0,6.87,AO,1592987564
441,Ust-Kuyga,70.02,135.60,83.75,27,15,7.70,RU,1592987573
447,Zahesi,41.82,44.75,89.60,25,0,3.36,GE,1592987573
472,Macomer,40.26,8.77,86.00,37,0,2.24,IT,1592987577
533,Nālūt,30.33,10.85,84.22,26,0,6.73,LY,1592987438
580,Olbia,40.92,9.49,82.40,39,0,6.93,IT,1592987599
581,Kamina,-8.74,24.99,81.75,26,0,6.60,CD,1592987599

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [39]:
# Store into variable named hotel_df
hotel_df = ideal_df

# Add a "Hotel Name" column to the DataFrame
hotel_df['Hotel Name'] = np.nan

# Set parameters to search for hotels with 5000 meters
target_search = "Hotel"
target_radius = 5000
target_type = "lodging"

idx = 0
for index, row in hotel_df.iterrows():
    # set up a parameters dictionary
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results) > 0:
        name = response_json['results'][0]['name']
        hotel_df.iloc[idx, -1] = name
    idx = idx + 1

narrowed_df = hotel_df

narrowed_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
66,Tunceli,39.11,39.55,86.00,20,0,4.70,TR,1592987501,Grand Hotel Şaroğlu
72,Alvand,36.32,49.17,83.25,18,0,14.52,IR,1592987501,NaN
76,Khatanga,71.97,102.50,80.44,32,0,6.06,RU,1592987356,"Gostinitsa ""Zapolyar'ye"""
119,Kahama,-3.83,32.60,81.46,37,0,10.11,TZ,1592987510,Buzwagi View Hotel
160,Constantine,36.37,6.61,80.60,34,0,5.82,DZ,1592987518,Constantine Marriott Hotel
177,Khandyga,62.67,135.60,80.82,34,0,2.89,RU,1592987521,Prezidentskaya Gostinitsa
228,Saint George,37.10,-113.58,82.40,14,1,3.36,US,1592987191,Best Western Plus Abbey Inn
241,Gračac,44.30,15.85,81.00,34,0,3.36,HR,1592987535,Pansion Villa Dijana
264,Faya,18.39,42.45,82.40,11,13,13.87,SA,1592987370,NaN
389,Camabatela,-8.19,15.38,80.31,23,0,6.87,AO,1592987564,Hotel Pif Paf
441,Ust-Kuyga,70.02,135.60,83.75,27,15,7.70,RU,1592987573,NaN
447,Zahesi,41.82,44.75,89.60,25,0,3.36,GE,1592987573,Hotel West
472,Macomer,40.26,8.77,86.00,37,0,2.24,IT,1592987577,Casa Castori
533,Nālūt,30.33,10.85,84.22,26,0,6.73,LY,1592987438,NaN
580,Olbia,40.92,9.49,82.40,39,0,6.93,IT,1592987599,DoubleTree by Hilton Hotel Olbia - Sardinia
581,Kamina,-8.74,24.99,81.75,26,0,6.60,CD,1592987599,NaN

In [50]:
# Drop any cities that dont have a hotel within radius
narrowed_df = narrowed_df.dropna()

narrowed_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
66,Tunceli,39.11,39.55,86.00,20,0,4.70,TR,1592987501,Grand Hotel Şaroğlu
76,Khatanga,71.97,102.50,80.44,32,0,6.06,RU,1592987356,"Gostinitsa ""Zapolyar'ye"""
119,Kahama,-3.83,32.60,81.46,37,0,10.11,TZ,1592987510,Buzwagi View Hotel
160,Constantine,36.37,6.61,80.60,34,0,5.82,DZ,1592987518,Constantine Marriott Hotel
177,Khandyga,62.67,135.60,80.82,34,0,2.89,RU,1592987521,Prezidentskaya Gostinitsa
228,Saint George,37.10,-113.58,82.40,14,1,3.36,US,1592987191,Best Western Plus Abbey Inn
241,Gračac,44.30,15.85,81.00,34,0,3.36,HR,1592987535,Pansion Villa Dijana
389,Camabatela,-8.19,15.38,80.31,23,0,6.87,AO,1592987564,Hotel Pif Paf
447,Zahesi,41.82,44.75,89.60,25,0,3.36,GE,1592987573,Hotel West
472,Macomer,40.26,8.77,86.00,37,0,2.24,IT,1592987577,Casa Castori
580,Olbia,40.92,9.49,82.40,39,0,6.93,IT,1592987599,DoubleTree by Hilton Hotel Olbia - Sardinia

In [51]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [52]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Map(configuration={'api_key': 'AIzaSyDvfnTCo-hSF587kiCVsBWHVxuRhPlnvGY'}, data_bounds=[(-46.73784185340356, -1…